.App {
  display: flex;
  font-family: sans-serif;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.App_elem {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.red {
  color: red;
}
